body {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFFF00;
}
.wrapper {
    position: relative;
    width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.step-container {
    display: flex;
    gap: 80px;
}
.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border: 4px solid #D3D3D3;
    border-radius: 50%;
    background-color: white;
    color: #D3D3D3;
}
.step {
    position: relative;
}

.line {
    height: 3px;
    width: 80px;
    background-color: #D3D3D3;
    position: absolute;
    height: 3px;
    width: 88px;
    background-color: #D3D3D3;
    position: absolute;
    top: 16px;
    left: 38px;
    overflow: hidden;
}
.checked {
    border-color: #008000;
    background-color: #008000;
    color: white;
}
.line.checked {
    background-color: #008000;
}
.circle  {
    transition: all 0.5s ease-in-out;
}
.line::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #D3D3D3;
    transform: width 0.5s ease-in-out;
}
.line.checked::after {
    width: 100%;
    background-color: #008000;
}

.buttons {
    display: flex;
    gap: 20px;
    position: relative;
}
button {
   background-color: slateblue;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 70px 10px 0;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;  
  bottom: 50px;
}
.arrow {
  font-weight: 400;
    font-size: 13px;
}